.previewing-page {
  .editable-block-name,
  .editable-overlay {
    display: none !important;
  }
  .editable-focused,
  .component-entered-page {
    animation: none;
  }
}

.editable-block-name {
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 4px 6px;
  font-family: monospace;
  border-radius: 2px 2px 0 0;
  line-height: 1.1;
  background: darken(white, 50%);
  color: white;
  font-size: 0.8rem;
  z-index: 30;
  opacity: 0;
  display: block;
  .editable-focused > .editable > &,
  .editable-focused > & {
    background: darken(white, 50%);
    opacity: 1;
  }
  .editable-focused > .editable > &,
  .editable-focused > &,
  .editable-hovered > & {
    opacity: 1;
  }
}

.editable-overlay {
  @extend .anim;
  @apply .w-full .h-full .absolute .pin .cursor-pointer;
  pointer-events: none;
  border: dashed 1px darken(white, 50%);
  mix-blend-mode: difference;
  opacity: 0;
  .editable-focused &,
  .editable:hover & {
    opacity: 0.25;
  }
  .sortable-ghost > &,
  .editable-hovered > & {
    opacity: 0.5 !important;
  }
  .sortable-ghost > & {
    border-color: red;
  }
  .editable-focused > &,
  .editable-hovered > & {
    z-index: 30;
  }
  .editable-focused > .editable > &,
  .editable-focused > & {
    opacity: 1 !important;
    box-shadow: 0 0 1rem rgba(darken(white, 50%), 1);
  }
}

.editable-focused,
.component-entered-page {
  animation: componentAdded 0.5s;
}

@keyframes componentAdded {
  0% {
    box-shadow: 0 0 0 rgba(darken(white, 50%), 1);
  }
  25% {
    box-shadow: 0 0 1rem rgba(darken(white, 50%), 1);
  }
  50% {
    box-shadow: 0 0 0 rgba(darken(white, 50%), 1);
  }
  75% {
    box-shadow: 0 0 1rem rgba(darken(white, 50%), 1);
  }
  100% {
    box-shadow: 0 0 0 rgba(darken(white, 50%), 1);
  }
}
