@tailwind preflight;
@tailwind components;

$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~simple-line-icons/scss/simple-line-icons";
* {
  position: relative;
}

@import "components/editable";
@import "components/typography";

.anim {
  transition: all 0.1s ease;
}

.btn {
  @apply .inline-block .align-top .my-4 .py-4 .px-6 .rounded .shadow .no-underline;
}

.grid {
  @apply .flex .flex-wrap .-mx-4;
  > * {
    @apply .px-4;
  }
  &.grid-lg {
    @apply .flex .flex-wrap .-mx-8;
    > * {
      @apply .px-8;
    }
  }
  &.grid-sm {
    @apply .flex .flex-wrap .-mx-2;
    > * {
      @apply .px-2;
    }
  }
}

.page {
  @apply .shadow-lg .bg-white;
}

.page > [data-block-content] {
  @apply .min-h-screen .py-0;
}
[data-block-content] {
  min-width: 2rem;
  @apply .h-full .py-2;
}

.card {
  @apply .p-4 .shadow-lg .rounded .bg-white;
}

header > div {
  @apply .flex .items-center;
}

@import "components/draggable";

@tailwind utilities;
